<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="sidebar-title">SONY 無線藍牙降噪Hi-Res耳罩式耳機 WH-1000XM3</h3>
            <img src="//d.ecimg.tw/items/DYAQ9MA9009EQIC/000001_1585533873.jpg">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">
                            <i class="規格"></i>
                        </th>
                        <th scope="col">穿戴風格 耳罩式</th>
                        <th scope="col">驅動單體 40 mm 動態式</th>
                        <th scope="col">頻率響應 4 Hz 至 40,000 Hz</th>
                        <th scope="col">靈敏度 104.5 dB/mW (透過耳機線連接、耳機電源開啟) , 101 dB/mW (透過耳機線連接、耳機電源關閉)阻抗47 歐姆
                            (透過耳機線連接、耳機電源開啟) 、
                            16 歐姆 (透過耳機線連接、耳機電源關閉)</th>
                        <th scope="col">重量 (g) (不含纜線) 約 255g</th>
                        </th>
                        <i class="fas fa-edit"></i>
                        </th>
                    </tr>
                </thead>



                <%- include('parts/scripts') %>
                <%- include('parts/html-foot') %>