<!doctype html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">


    <title>首頁</title>



    <style>
        /* #carouselExampleInterval {
        margin: 0;
        padding: 0;
        position: absolute;
       
    } */
        .container-new-item {
            margin-right: auto;
            margin-left: auto;
            margin-Top: 20px;
            /* padding-right: 15px;
            padding-left: 15px; */
            width: 100%;
            max-width: 1140px;
        }

        .d-block {
            width: auto;
            height: 400px;
            object-fit: cover;
        }

        .new-item {
            background-color: #BEBEBE;
            position: absolute;
            text-align: center;
            margin-left: 50px;
        }

        /* .card-img-top {

            width: 50px;
            padding: 5px
        } */

        /* .card {
            height: 300px; 
            width: 250px;
            background-color: #FFB5B5;
            text-align:center;
            margin-right: 2px;
            margin-left: 2px;
            float: left;
        } */

        h1 {
            text-align: center;
        }

        /* .badge-notify {
            background: red;
            position: relative;
            top: -20px;
            right: 10px;
        } */

        /* .my-cart-icon-affix {
            position: fixed;
            z-index: 999;
        } */

        /* .col-xs-6 {
            float: left;
        } */

        /* 滑動效果 */
        .blog .carousel-indicators {
            left: 0;
            top: auto;
            bottom: -40px;

        }

        /* The colour of the indicators */
        .blog .carousel-indicators li {
            background: #a3a3a3;
            border-radius: 8px  ;
            width: 8px;
            height: 1px;
        }

        .blog .carousel-indicators .active {
            background: #707070;
        }



        div.col-lg-10{
            border: solid 	#9D9D9D;
        }
    </style>

</head>

<body>